

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    position: relative;
}

body {
    font-family: "poppins", sans-serif;
    background-color: #e1e1e1;
    line-height: 1;
    font-weight: 400;
}

/* =============================Main Header================================== */


.main-header {
    max-width: 90vw;
    width: 100%;
    margin: 0 auto;
}

.logo {
    font-size: 1.8rem;
    font-weight: 600;
    margin-left: 24px;
    position: relative;
    color: #494055;
}

.logo::after {
    content: "";
    left: 0;
    bottom: -6px;
    position: absolute;
    width: 39%;
    height: 2px;
    background-color: #494055;
    border-radius: 5px;
    transform-origin: right;
    transition: transform .3s;
}

ul {
    font-size: 1.4rem;
    list-style: none;
    display: flex;
    font-weight: 500;
}

li {
    margin-right: 32px;
}

li:last-child {
    margin-right: 0px;
}

.nav-div1 {
    display: flex;
    align-items: center;
    color: #000;
}

.nav-div1 .logo {
    margin-right: 60px;
}

.nav-div1 a {
    text-transform: uppercase;
    position: relative;
    font-size: 16px;
    color: #000;
    text-decoration: none;
}

.nav-div1 a::after {
    content: "";
    left: 0;
    bottom: -6px;
    position: absolute;
    width: 100%;
    height: 2.2px;
    background-color: #494055;
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s;
}

.nav-div1 a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.nav-div2 i {
    margin-left: 20px;
    font-size: 22px;
    font-weight: 500;
    padding-top: 3px;
}

.header {
    width: 100%;
    height: 70px;
    padding: 0px 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffffab;
    color: #000;
    z-index: 99;
}

.menu-bar .nav-bar-btn {
    font-size: 22px;
    font-weight: 500;
    padding-top: 3px;
}

.menu-bar .nav-close-btn {
    margin-left: 0px;
    font-size: 25px;
    font-weight: 500;
    padding-top: 0px;
    display: none;
}

.section-content {
    position: relative;
    width: 100%;
    height: calc(100% - 70px);
    display: flex;
    justify-content: space-between;
    align-content: center;
    color: #f4f4f4;
    line-height: 1.1;
}

.section-content p {
    font-size: 18px;
}

.section-content h1 {
    font-weight: 600;
}

.left-section {
    width: 42%;
    height: 100%;
    padding: 70px 0px;
    display: flex;
    align-items: center;
}

.right-section {
    width: 58%;
    height: 100%;
    position: relative;
    white-space: nowrap;
    overflow-x: auto;
    padding: 100px;
}

.right-section::-webkit-scrollbar {
    display: none;
}

.left-section h5 {
    font-size: 18px;
    color: #6c6c6c;
    font-weight: 500;
}

.left-section h1 {
    font-size: 48px;
    color: #484848;
    text-transform: uppercase;
    margin-bottom: 28px;
}

.left-section p {
    color: #b1afaf;
    font-size: 14px;
    line-height: 1;
    letter-spacing: .5px;
    margin-bottom: 32px;
    width: 88%;
}

.foot {
    font-size: 56px;
    color: #a7a2af;
    letter-spacing: 3px;
}

button {
    padding: 12px 18px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    transition: 0.3s;
    background-color: #181818;
    color: #fff;
}

button:hover {
    background-color: #3a3939;
    color: #fff;
}

i {
    cursor: pointer;
    color: #494055;
    transition: transform 0.3s;
}

i:hover {
    transform: scale(1.1);
}

.price {
    font-size: 12px;
    background-color: black;
    color: white;
}

.elements {
    width: 275px;
    height: 375px;
    background-color: #fff;
    position: relative;
    box-shadow: 0px 5px 10px rgb(0 0 0 / 30%);
    display: inline-block;
    margin-right: 20px;
    transition: transform 0.2s ease;
}

.elements img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    position: absolute;
    cursor: pointer;
}

.elements .price {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #4a4a52;
    padding: 12px 32px;
}

.elements .details {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f1ebeb;
    padding: 12px 32px;
    color: #333;
    height: 40px;
    border-radius: 0px 26px 26px 0px;
}

.scroll-btn {
    top: 92%;
    transform: translateY(-50%);
    right: 20%;
    z-index: 1000;
    position: absolute;
}

.scroll-btn i {
    font-size: 28px;
    padding: 4px 4px;
    border-radius: 50px;
    text-align: center;
    color: #c7c7c7;
    transition: transform 0.3s;
}

.scroll-btn i:hover {
    color: #707074;
    transform: scale(1.1);
}

.elements {
    transition: transform 0.3s;
}

.elements:hover {
    transform: scale(1.1);
}

.men-shoe-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer {
    text-align: center;
    color: #aeaeae;
    font-size: 16px;
    padding: 30px 60px 30px 60px;
}

@media (max-width: 62em) {
    .menu-bar {
        display: block;
        z-index: 999;
        position: absolute;
        left: 56px;
        top: 22px;
    }

    .scroll-btn {
        display: none;
    }

    .header {
        position: relative;
    }

    .nav-div1 ul {
        width: 100vw;
        height: 100vh;
        background-color: #eff5ff;
        position: absolute;
        left: 0px;
        top: 0px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        transform: translateX(-100%);
        transition: all 0.5s linear;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    li {
        margin-bottom: 12px;
    }

    ul li:last-child {
        margin-right: 32px;
    }

    .active .nav-div1 ul {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .active .menu-bar .nav-close-btn {
        display: block;
    }

    .active .menu-bar .nav-bar-btn {
        display: none;
    }

    @media (max-width: 35em) {
        .header .logo {
            width: 60%;
        }
    }
}

@media (max-width: 979px) {
    .section-content {
        gap: 100px;
    }
}

@media (max-width: 801px) {
    .section-content {
        gap: 120px;
    }
}

@media (max-width: 794px) {
    html, body {
        overflow-x: hidden;
        /* overflow-y: hidden; */
        overflow-y: scroll;
    }

    .section-content {
        flex-direction: column;
        align-items: center;
        gap: 0px;
        width: 100%;
        height: 100%;
    }

    .left-section button {
        border-radius: 10px;
    }

    .left-section {
        width: 100%;
        padding: 70px 20px;
        text-align: center;
    }

    .left-section p {
        text-align: center;
        padding: 0px 90px 0px 90px;
        width: 100%;
    }

    .right-section {
        width: 100%;
        padding: 0px 0px;
    }

    .elements {
        margin: 0 auto 20px;
    }
}
